<%= render 'shared/doctor_nav' %>
<% if current_doctor.availabilities.present? %>
  <table class='table'>
    <thead>
      <th>id</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </thead>
    <% current_doctor.availabilities.each do |availaibility| %>
      <tbody>
        <tr>
          <td><%= availaibility.id %></td>
          <td><%= availaibility.date %></td>
          <td><%= availaibility.start_time %></td>
          <td><%= availaibility.end_time %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% else %>
  No Availaibility Set Yet
<% end %>